
C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja3.html ) 
KIDS\Naloga6\vaja3.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja7.html ) 
KIDS\Naloga6\vaja7.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja11.html ) 
KIDS\Naloga6\vaja11.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja15.html ) 
KIDS\Naloga6\vaja15.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja19.html ) 
KIDS\Naloga6\vaja19.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja23.html ) 
KIDS\Naloga6\vaja23.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja27.html ) 
KIDS\Naloga6\vaja27.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja31.html ) 
KIDS\Naloga6\vaja31.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja35.html ) 
KIDS\Naloga6\vaja35.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja39.html ) 
KIDS\Naloga6\vaja39.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja43.html ) 
KIDS\Naloga6\vaja43.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja47.html ) 
KIDS\Naloga6\vaja47.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja51.html ) 
KIDS\Naloga6\vaja51.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja55.html ) 
KIDS\Naloga6\vaja55.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja59.html ) 
KIDS\Naloga6\vaja59.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja63.html ) 
KIDS\Naloga6\vaja63.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja67.html ) 
KIDS\Naloga6\vaja67.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja71.html ) 
KIDS\Naloga6\vaja71.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja75.html ) 
KIDS\Naloga6\vaja75.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja79.html ) 
KIDS\Naloga6\vaja79.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja83.html ) 
KIDS\Naloga6\vaja83.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja87.html ) 
KIDS\Naloga6\vaja87.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja91.html ) 
KIDS\Naloga6\vaja91.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja95.html ) 
KIDS\Naloga6\vaja95.html

C:\Users\zanko\public_naloga6\KIDS\Naloga6>(ECHO KIDS\Naloga6\vaja99.html ) 
KIDS\Naloga6\vaja99.html
